<div class="container_dash text-center">
  <h1>DASHBOARD</h1>
  <div class="infos m-5">
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
  </div>

  <div class="col-12 justify-content-center">
    <div class="pending">
    <h2 class="text-center">Mes demandes en attentes de confirmation :</h2>
      <% @myBookingDemands.each do |character| %>
        <% if character.bookings[0].available? %>
        <div class="card d-inline-block">
          <div class="card-image">
              <% if character.photo.attached? %>
                <%= cl_image_tag character.photo.key, width: 235, height:250 %>
              <%end%>
          </div>
          <div class="card-infos">
            <ul class= "info-list">
              <li><h3><%=character.nickname%></h3></li>
              <li>
                <% if character.average_rating == 5 %>
                  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <% elsif character.average_rating == 4 %>
                  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <% elsif character.average_rating == 3 %>
                  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <% elsif character.average_rating == 2 %>
                  <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <% elsif character.average_rating == 1 %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-solid fa-face-angry"></i>
                <% end %>
              </li>
              <li>🔎 <%=character.description%></li>
              <li>💸 <%=character.price_hour%> €</li>
              <li>
                <% character.skills.each do |skill|%>
                <span class="skills"><%= skill %></span>
                <% end %>
              </li>
            </ul>
            <%= link_to character_booking_path(character, character.bookings[0]), method: "PATCH" do %>
              <div class="arrow-bottom-right">
                <%= image_tag("right-arrow.png", class: "arrow-image") %>
              </div>
              <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="">
      <div class="pending">
        <h2>Mes Héros :</h2>
        <% @mybookings.each do |character| %>
          <div class="card d-inline-block">
            <div class="card-image">
              <%= link_to character_path(character) do %>
                <% if character.photo.attached? %>
                  <%= cl_image_tag character.photo.key, width: 235, height:250 %>
                <%end%>
              <% end %>
            </div>
            <div class="card-infos">
              <ul class= "info-list">
                <li><h3><%=character.nickname%></h3></li>
                <li>
                  <% if character.average_rating == 5 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif character.average_rating == 4 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif character.average_rating == 3 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif character.average_rating == 2 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif character.average_rating == 1 %>
                    <i class="fa-solid fa-star"></i>
                  <% else %>
                    <i class="fa-solid fa-face-angry"></i>
                  <% end %>
                </li>
                <li>🔎 <%=character.description%></li>
                <li>💸 <%=character.price_hour%> €</li>
                <li>
                  <% character.skills.each do |skill|%>
                  <span class="skills"><%= skill %></span>
                  <% end %>
                </li>
              </ul>
                <div class="arrow-bottom-right">
                    <%= link_to character_path(character) do %>
                      <%= image_tag("right-arrow.png", class: "arrow-image") %>
                    <% end %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6 justify-content-center">
      <div class="pending">
        <h2>Mes demandes de booking :</h2>
        <% @myPendingBookings.each do |booking| %>
          <% if booking.available? %>
          <div class="card d-inline-block">
            <div class="card-image">
                <% if booking.character.photo.attached? %>
                  <%= cl_image_tag booking.character.photo.key, width: 235, height:250 %>
                <%end%>
            </div>
            <div class="card-infos">
              <ul class= "info-list">
                <li><h3><%=booking.character.nickname%></h3></li>
                <li>
                  <% if booking.character.average_rating == 5 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif booking.character.average_rating == 4 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif booking.character.average_rating == 3 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif booking.character.average_rating == 2 %>
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                  <% elsif booking.character.average_rating == 1 %>
                    <i class="fa-solid fa-star"></i>
                  <% else %>
                    <i class="fa-solid fa-face-angry"></i>
                  <% end %>
                </li>
                <li>🔎 <%=booking.character.description%></li>
                <li>💸 <%=booking.character.price_hour%> €</li>
                <li>
                  <% booking.character.skills.each do |skill|%>
                  <span class="skills"><%= skill %></span>
                  <% end %>
                </li>
              </ul>
                <div class="arrow-bottom-right">
                      <%= image_tag("right-arrow.png", class: "arrow-image") %>
                </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
