
<h1 class="text-center mt-3">Mettre à jour votre Héro</h1>
<div class="container w-50 rounded d-flex bg-white py-5 mt-2">
  <%= simple_form_for (@character) do |f|%>
  <%= f.input :nickname, label: "Surnom"%>
  <%= f.input :description%>
  <%= f.input :price_hour, label: "Prix"%>
  <%= f.input :average_rating, input_html: {value: 0}, label: "Note" %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Envoyer", class: "button-submit"%>
  <%end%>
</div>
