<div class="container mt-5">
  <%= simple_form_for (@character) do |f|%>
  <%= f.input :nickname%>
  <%= f.input :description%>
  <%= f.input :price_hour%>
  <%= f.input :average_rating, input_html: {value: 0} %>
  <%= f.submit "Create"%>
  <%end%>
</div>
