  <div class="banner-home d-flex justify-content-center align-items-center">
    <div class="d-flex-column">
      <h1>Rental your Hero</h1>
      <p><%= link_to "Discover", "#", class:"btn btn-warning"%></p>
    </div>
  </div>
<div class="container">
  <% @characters.each do |character| %>
    <div class="card">
      <div class="card-image">
        <%= link_to character_path(character) do %>
          <% if character.photo.attached? %>
            <%= cl_image_tag character.photo.key, width: 220, height:250%>
          <%end%>
        <%end%>
      </div>
      <div class="card-infos">
        <ul class= "info-list">
          <li><%=character.nickname%></li>
          <li><%=character.average_rating%>/5</li>
          <li><%=character.description%></li>
          <li><%=character.price_hour%>€/hour</li>
        </ul>
          <div class="arrow-bottom-right">
              <%= link_to character_path(character) do %>
                <%= image_tag("right-arrow.png", class: "arrow-image") %>
              <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>
