<div class="container">
  <% @characters.each do |character| %>
    <div class="card">
      <div class="card-image">
        <%= link_to character_path(character) do %>
          <% if character.photo.attached? %>
            <%= cl_image_tag character.photo.key, width: 235, height:250 %>
          <%end%>
        <% end %>
      </div>
      <div class="card-infos">
        <ul class= "info-list">
          <li><%=character.nickname%></li>
          <li><%=character.average_rating%>/5</li>
          <li><%=character.description%></li>
          <li><%=character.price_hour%>€/hour</li>
          <li>
            <% character.skills.each do |skill|%>
            <span class="skills"><%= skill %></span>
            <% end %>
          </li>
        </ul>
          <div class="arrow-bottom-right">
              <%= link_to character_path(character) do %>
                <%= image_tag("right-arrow.png", class: "arrow-image") %>
              <% end %>
          </div>
      </div>

    </div>
  <% end %>
</div>
