<div class="container d-flex justify-content-center">
  <div class="d-flex align-items-center mt-5 p-5 w-100 bg-dark">
    <div>
    <%if @character.photo.attached? %>
      <%= cl_image_tag @character.photo.key, height: 400, width: 400, crop: :fill%>
    <%end%>
    </div>
    <div class="ms-5">
      <h1><%= @character.nickname%></h1>
      <p><%= @character.description%></p>
      <p><%= @character.average_rating%>/5</p>
      <p><%= @character.price_hour%> €/hour</p>
      <%= link_to "Booked", "#", class:"btn btn-lg btn-warning"%>
      <%= link_to "Edit", edit_character_path(@character), class:"btn btn-lg btn-primary"%>
    </div>
  </div>
</div>
